:root{
    --color-primary: #E15E26;
    --color-secondary: #81be82;
    --color-ternary: #f8cd80;
    --color-cuaternary: #bd4c27;
    --white: #ffffff;
}
.text-cuaternary{
    color: var(--color-cuaternary);
}
header{
    background-image: url('../img/img/backround.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 105vh;
}
.navbar{
    color:#ffffff !important;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

.navbar .nav-item .nav-link{
    color:#ffffff !important;
    padding-right: 1em;
    padding-left: 1em;
}

.nav-info{
    background: var(--color-primary);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: .60em;
    padding-bottom: .60em;
}

.imagen {
    position: absolute;
    top: 25em;
    left: 40em;
    transform: translate(-50%, -50%);
    width: 65%;
}

.element-action{
    position: absolute;
    top: 12em;
    right: 7em;
    text-align: right;
}
.element-action, h1, h2, h5{
    color: #1c6a34;
    
}
.element-action h1{
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
}
.element-action h2{
    /* font-weight: 500; */
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}
.element-action h3{
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    position: absolute;
    top: 1.5em;
    right:4.5em;
}

.element-action .btn-action{
    font-family: 'Libre Franklin', sans-serif;
    background: var(--color-primary);
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    padding: .3em 1em .3em 1em;
    border-radius: 0px 30px 30px 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.element-action h6{
    margin-top:1em;
}

.element-text{
    position: absolute;
    top: 21em;
    text-align: right;
    left:4em;
}

.element-text h5{
    color: white;
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 1em;
}

.element-text span{
    color: var(--color-primary);
}

.section-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    color: var(--color-cuaternary);
}
.section-subtitle{
    color: black;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    padding-bottom:10px;
}
.separador{
    border-top: 6px solid var(--color-cuaternary);
    width: 24%;
    margin: auto;
}

.btn-exp{
    padding: 1.5em;
    font-size: 1.5em;
    font-weight: 700;
}

#modo-uso{
    background-color: var(--color-ternary);
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

#garantia{
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

.info{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.4em;
    color: var(--color-cuaternary);
}

.info-sale{
    background: rgb(166,233,167);
    background: radial-gradient(circle, rgba(166,233,167,1) 0%, rgba(129,190,130,1) 35%, rgba(129,190,130,1) 100%);
}
.content-green{
    background: rgb(240, 240, 240, 0.6);
    padding: 15px;
    text-align: left;
    border-radius: 8px;
}

.content-text{
    background: white;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.3em;
}

.content-tip{
    margin-top: 1em;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.3em;
    border-left: 4px solid var(--color-cuaternary);
    padding-left: 10px;
    color: white;
}

.text-doc{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.3em;
    color: black;
    font-weight: 600;
}

.img-firma{
    float: right;
}

.text-gant{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.1em;
    color: black;
    /* font-weight: 600; */
}
.subtitle{
    color: var(--color-cuaternary);
    font-weight: 700;
    font-size: 2.1em;
}

footer{
    background-color: #313131;
    color: white;
    padding-top: 4em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

footer, h5, h6{
    color: white;
    font-weight: bold;
}

.copy{
    padding-top: 10px;
    padding-bottom: 10px;
}

